/target/classes/Player/Account.class
/target/test-classes/Player/AccountTest.class
/target/classes/Fields/Board.class
/target/test-classes/BoardTest.class
/target/classes/Fields/Brewery.class
/target/classes/Fields/Chance.class
/target/classes/Fields/Deed.class
/target/classes/Die/Die.class
/target/classes/Die/DieController.class
/target/test-classes/test/DieControllerTest.class
/target/test-classes/test/DieTest.class
/target/classes/Fields/Ferry.class
/target/classes/Fields/Fields.class
/target/classes/Fields/Go.class
/target/classes/Fields/GoToJail.class
/target/classes/Fields/Jail.class
/target/classes/Fields/LuxuryTax.class
/target/classes/Fields/Parking.class
/target/classes/Player/Player.class
/target/test-classes/Player/PlayerTest.class
/target/classes/Fields/Plot.class
/target/classes/Fields/Properties.class
/target/classes/Fields/Tax.class
